.pricing-tables {
    padding: 30px 0;
}

.single-table {
    background: #fff;
    -webkit-transition: all 0.20s linear;
    transition: all 0.20s linear;
}

.single-table:hover {
  box-shadow: 0px 3px 3px 0px #888888;
  -webkit-transition: all 0.20s linear;
  transition: all 0.20s linear;
}

.single-table .plan-header {
  background: #34495E;
  color: #fff;
  text-transform: capitalize;
  padding: 2px 0;
}

.single-table .plan-header h3 {
  margin: 0;
  padding: 20px 0 5px 0;
  text-transform: uppercase;
}

.single-table .plan-price {
  color: #fff;
  padding: 10px 0;
  margin: 0;
  font-size: 30px;
  font-weight: bold;
}

.single-table span {
  font-size: 18px;
  font-weight: normal;
}

.single-table ul {
  margin: 0;
  padding: 20px 0;
  list-style: none;
}

.single-table ul li {
  padding: 8px 0;
  margin: 0 20px;
  font-size: 15px;
}

.single-table .plan-submit {
  display: inline-block;
  text-decoration: none;
  margin: 20px 0 30px 0;
  padding: 10px 40px;
  border: 1px solid #34495E;
  color: #34495E;
  font-size: 15px;
  text-transform: uppercase;
}

:root{
  --black: black;
  --white: #fff;
  --grey: hsl(214, 7%, 47%);
  --light-grey: #eee;
  --twitter-blue: #0084b4;
  --font-large: 20px;
  --font-small: 14px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    font-family: 'Helvetica-Neue', sans-serif;
}

body{
  /* display: flex;
  justify-content: center;
  align-items: center; */
  background: #00B4DB;
  background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);  
  background: linear-gradient(to right, #0083B0, #00B4DB);
}

.twitter-card{
  width: 500px;
  border: 1px solid var(--light-grey);
  border-radius: 6px;
  /* display: flex;
  flex-direction: column; */
  padding: 2rem;
  background: var(--white);
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.row-top{
  /* display: flex;
  align-items: center;
  justify-content: space-between; */
  margin-bottom: 1.2rem;
}

.user-image{
  background-image: url("https://pbs.twimg.com/profile_images/1135021042097971200/9z8WGYUs_400x400.png");
  margin-right: 10px;
  background-position: center;
  background-size: cover;
  height: 70px; 
  width: 70px;
  border-radius: 50%;
}

.profile-user > * {
  display: block;
}

.user-wrapper{
  /* display: flex;
  align-items: center;  */
}

.follow{
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 10px; */
  border: 1px solid var(--twitter-blue);
  border-radius: 30px;
  color: var(--twitter-blue);
  font-weight: bold;
  transition: all .2s ease-out;
}

.follow:hover{
  background-color: var(--twitter-blue);
  color: var(--white);
}

.user{
  font-size: var(--font-large);
  font-weight: bold;
  margin-bottom: 5px;
}

.username{
  font-size: var(--font-small);
  color: var(--grey);
}

.profile-bio{
  width: 90%;
  margin-bottom: 1rem;
}

.row-middle{
  /* display: flex;
  flex-direction: column; */
}

.profile-location{
  font-size: var(--font-small);
  color: var(--grey);
  margin-bottom: 10px;
}

.profile-location > i, .profile-website > i {
   font-size: 1rem;
   color: var(--grey);
   margin-right: 5px;
}

.profile-website > i{
  margin-right: 2px;
}

.profile-website{
  margin-bottom: 1.2rem;
}

.profile-website > a{
  text-decoration: none;
  font-size: var(--font-small);
  color: var(--twitter-blue);
}

.row-bottom{
  border-top: 1px solid #ccc;
  padding-top: 1rem;
  /* display: flex;
  justify-content: flex-start; */
}

.followers-count, .following-count, .likes-count{
  color: var(--grey);
}

.count-meta{
  display: block;
  font-size: 20px;
  font-weight: bold;
  margin-top: 5px;
  color: var(--black);
}
