/* `box-sizing` will greatly improve your column calculations, so we've given you a bit of a head start! */
* {
  box-sizing: border-box;  

}


/* You'll need to implement this one */
.container{width:100%;
    display:grid;
}

   

/* And this one. */
.row {
    display:flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    
    

}

@media (max-width:500px){

     .row{ 
        display:flex;
        flex-direction:column;
        justify-content:space-between;

        }

    }

